@font-face {
  font-family: Cotham-Sans;
  src: url('./fonts/Cotham-master/CothamSans.otf'); 
}

#navigation-bar {
  font: 20px Cotham-Sans, sans-serif;
}

#name {

}

.navigation-bar-link-right-side {

}

#projects-container {

}

#contact-container {

}

#about-container {

}

